<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>留言板</title>
  <style>
  form{
    padding-right:500px; 
    padding-left:100px; 
  }
  </style>
</head>
<body>
  <form action="/upload" >
    用户名: 
    <div >
      <input type="input"  name="username">
    </div>
密码：
<div>
    <input type="password" name='password'><br>
  </div> 
    <input type="submit"  value="登录">
  </form>
</body>
</html>