<!DOCTYPE html>
<html lang='en'>

<head>
  <meta charset='UTF-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <meta http-equiv='X-UA-Compatible' content='ie=edge'>
  <title>Document</title>
  <script src='../libs/angular.min.js'></script>
</head>
 <!--  练习：
    1在文本框中输入数据 文本框下方同时显示2行
    一行全部转大写，一行全部转小写
    2.过滤字符串'abcdefg'，截取后5位，并将其转成大写
    3.在文本框中输入数字，文本框下方实现该数字
      保留到小数点后一位
    4.显示当前时间 格式：2018年9月21日15点25时26分
    5.定义一个对象数组、
      将数组排序，分别：
          按照id升序，降序
          按照age降序排序，年龄相同时，id升序排序
    6.显示数组中，名字包含a的人
    的信息 -->
<body ng-app='app'>
<div ng-controller="ctrl">
  <input type="text" ng-model="msg"><br>
  {{msg | uppercase}}<br>
  {{msg | lowercase}}<hr>
  {{str |  limitTo:-5 | uppercase}}<hr>
  <input type="text" ng-model="msg2"><br>
  {{msg2 | number:1}}<br>
  {{time | date:"yyyy年MM月dd日 HH点mm时ss分"}}<br>
  {{stus | orderBy:"id":true}}<hr>
  {{stus | orderBy:"+id"}}<hr>
  {{stus | orderBy:["-age","+id"]}}<hr>
  <!-- <div ng-repeat='n in stus | filter:"a" '>
      {{n}}
    </div> -->
  {{stus | filter:{name:"a"} }}
</div>
</body>
<script>
  var app = angular.module('app', []);
  app.controller("ctrl",["$scope",function($scope){
    $scope.msg="";
    $scope.msg2="";
    $scope.str="asgshjvbh";
    $scope.time = new Date;
    $scope.stus=[
      {id:101,name:"mike",age:23,grade:"a"},
      {id:101,name:"jack",age:22,grade:"b"},
      {id:102,name:"kika",age:26,grade:"v"},
      {id:102,name:"lili",age:22,grade:"w"},
      {id:103,name:"cily",age:25,grade:"a"}
      
    ];
  }])
</script>

</html>